<div class="container">
    <div class="row pt-7">
        <div class="col-12">
            <h1>TÁJÉKOZTATÓ</h1>
            <p><b>Anonim Felhasználó-azonosító („cookie”) elhelyezéséről és web-irányjelzőkről („web-beacon”)</b></p>
            <p>A <b>STYLERS Szolgáltató és Kereskedelmi Korlátolt Felelősségű</b> Társaság (székhely: 1134 Budapest, Klapka utca 11. 2. em., a továbbiakban: Üzemeltető) számára kiemelt fontosságú cél az általa üzemeltetett, <strong><a href="https://meet.stylers.group/">https://meet.stylers.group/</a></strong> című honlap (a továbbiakban: Honlap) látogatói (a továbbiakban: Felhasználó) által rendelkezésre bocsátott személyes adatok védelme, a Felhasználók információs önrendelkezési jogának biztosítása, melyet az Üzemeltető <a href="https://stylers.hu/adatvedelmi-szabalyzat-es-adatkezelesi-tajekoztato/" target="_blank">Adatvédelmi Szabályzatában</a> rögzített módon biztosít.</p>
            <p>Az Üzemeltető, sok más vállalkozáshoz hasonlóan, cookie-kat használ a Honlapon. Jelen Tájékoztató a Honlap használata során történő „cookie”-k és „web-beacon”-ök létrehozásával kapcsolatos tudnivalókat tartalmazza.</p>
            <p>1. Cookie-k</p>
            <p>A Honlap anonim felhasználó-azonosítókat, ún. cookie-kat (magyarul “sütiket”) használ, hogy biztosítsa a Honlap használatát, illetve segítsenek személyre szabott szolgáltatásokat nyújtani és a Felhasználó érdeklődésének megfelelő tartalmat eljuttatni a Felhasználóhoz. A „süti” nem más, mint kis mennyiségű adat (egyedi szöveges információs fájl), amely a Felhasználó böngészőjében (számítógépén) rögzítésre kerül, és amelyet az az internet szerver olvas le, amely elhelyezte azt. A süti személyi azonosítóként működik, rögzítve a Felhasználó preferenciáit és korábban megadott adatait. Egy cookie általában tartalmazza a webhely nevét, ahonnan a cookie származik, a cookie „élettartamát” (milyen hosszan marad a Felhasználó eszközén) és az értékét, ami általában egy véletlenszerűen generált egyedi szám. A sütik alkalmazásával a Felhasználó által korábban megadott adatok visszaállíthatóak a Felhasználó következő látogatásánál a Honlapon, így a Felhasználó böngészési ideje csökken és a Honlap használata leegyszerűsödik. A sütik egyedileg a Felhasználó gépéhez rendeltek és csak az az internet szerver tudja leolvasni azokat, amelyiktől a süti származik.</p>
            <p>Alkalmazott cookie-k leírása:…</p>
            <p>Cookie-k élettartama (törlés időpontja):…</p>
            <p>2. Web-beacon-ök</p>
            <p>A web-irányjelzőket (web-beacon) arra lehet használni, hogy a sütiket célba juttassa, és hogy a Honlapról statisztikát készítsen: például, hogy hányan látogattak meg egy bizonyos lapot, vagy kattintottak egy bizonyos linkre.</p>
            <p>3. Általános tudnivalók</p>
            <p>A cookie-k használatát a Felhasználó a Honlap első látogatásakor kifejezett nyilatkozatával, a felugró ablak „Hozzájárulok” gomb megnyomásával (klikkeléssel) hagyja jóvá.</p>
            <p>Ha kívánja, a Felhasználó beállíthatja böngészőjét úgy, hogy ne támogassa a sütiket. Ha ezt teszi, vagy a felugró ablak „Megtagadom” gombjára klikkel, esetleg nem élvezheti a Honlap bizonyos hasznos jellemzőit.</p>
            <p>3.1. A cookie-k letiltása</p>
            <p>Minden böngészőprogramban beállítható, hogy a látogató elfogadja-e a cookie-kat vagy sem. A legtöbb böngésző alapbeállítása szerint elfogadja azokat. Ezek az alapbeállítások megváltoztathatók annak érdekében, hogy blokkolni lehessen a sütiket, vagy figyelmeztetést kapjon arról, ha egy weboldal sütit használ. Fontos tudni, hogy a Honlap egyes szolgáltatásai kifejezetten a cookie-k elfogadásától függnek, így azok esetleges tiltásával a Felhasználó számára a Honlapon nem várt működés lesz tapasztalható, rosszabb esetben lehetetlenné válik a Honlap szolgáltatásainak használata.</p>
            <p>3.2. A cookie-k törlése</p>
            <p>Ha a Felhasználó törölni kívánja a Honlapról származó sütiket, vagy nem kívánja használni azokat, informálódjon a használt böngésző súgójában annak módjáról. Felhívjuk figyelmét, hogy cookie-k tiltása esetén előfordulhat, hogy bizonyos elemek és a Honlap teljes funkcionalitása ezáltal nem lesz elérhető.</p>
            <p>Az Üzemeltető fenntartja a jogot, hogy jelen Tájékoztatót időről-időre előzetes értesítés nélkül módosítsa, vagy frissítse. A legutóbbi frissítés dátuma a Tájékoztató végén található. Az Üzemeltető javasolja, hogy a Felhasználó időről-időre ellenőrizze ezen Tájékoztatót, hogy továbbra is figyelemmel követhesse, az Üzemeltető milyen lépéseket tesz személyes adatai védelme, és információs önrendelkezési jogának gyakorlása érdekében.</p>
            <p>Budapest, 2019.01.01</p>
        </div>
    </div>
</div>