<div class="container">
    <div class="row pt-7">
        <div class="col-12">
            <h1>Segítség</h1>
            <p>Kedves Felhasználónk, amennyiben elakadtál vagy bármilyen segítségre lenne szükséged, kérlek vedd fel kapcsolatot velünk a
            <a href="mailto:support@meet.stylers.group">support@meet.stylers.group</a> e-mail címen.</p>
        </div>
    </div>
</div>