<div class="container">
    <h1>Segítség</h1>
    <p>Kedves Felhasználónk, amennyiben elakadtál vagy bármilyen segítségre lenne szükséged, kérlek vedd fel kapcsolatot velünk a
    <a href="mailto:support@meet.stylers.group">support@meet.stylers.group</a> email címen.</p>
</div>